.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dbbba4;
  /* border: 1px solid black; */
  padding: 10px 0;
  font-family: "Prompt", sans-serif;
  font-size: 1.1rem;
  position: relative;
}

.Navbar-logo {
  width: 200px;
  cursor: pointer;
}

.Navbar-link {
  width: 700px;
  display: flex;
  justify-content: space-evenly;
}

.Navbar-end {
  display: flex;
  width: 180px;
  justify-content: space-evenly;
  cursor: pointer;
}

.Navbar .link {
  color: white;
  text-decoration: none;
}

.Navbar-link .link.active {
  color: rgba(0, 0, 0, 0.5);
}

.Navbar .responsive {
  display: none;
}

.Navbar-menu {
  width: 170px;
  position: absolute;
  top: 100%;
  right: -170px;
  z-index: 999;
  font-size: 0.9rem;
  transition: all 0.2s ease-in;
}

.Navbar-menu.active {
  right: 0px;
}
.Navbar-item {
  width: 100%;
  padding: 18px 0px 18px 20px;
  text-align: left;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: #dbbba4;
  display: flex;
  align-items: center;
  gap: 5px;
}

.Navbar-item:hover {
  background-color: #dac1af;
}

@media only screen and (max-width: 1000px) {
  .Navbar-link {
    display: none;
  }
  .Navbar-end {
    display: none;
  }
  .Navbar .responsive {
    display: block;
  }

  .Navbar-logo {
    width: 150px;
  }

  .Navbar {
    justify-content: space-between;
    padding: 20px 20px;
  }
}
