.NewSubCard-container{
    margin: 10px 10px 10px 10px;
    position: relative;
    display: inline-block;
  }
  
.NewSubCard-container .NewSubCard-card{
    position: relative;
    width: 320px;
    height: 350px;
    background: #c8ceca;
    border-radius: 20px;
    overflow: hidden;
}

.NewSubCard-container .NewSubCard-card .NewSubCard-imgBx{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 1;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.NewSubCard-container .NewSubCard-card:hover .NewSubCard-imgBx{
    top: 0%;
    transform: translateY(0%);    
}

.NewSubCard-container .NewSubCard-card .NewSubCard-imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

.NewSubCard-container .NewSubCard-card .NewSubCard-contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 1;
}

.NewSubCard-container .NewSubCard-card:hover .NewSubCard-contentBx{
    height: 140px;
}

.NewSubCard-container .NewSubCard-card .NewSubCard-contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000000;
    margin: 0;
}

.NewSubCard-container .NewSubCard-card .NewSubCard-contentBx div{
    display: inline-block;
    padding: 10px 20px;
    background: #718275;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 10px;
    cursor: pointer;
    gap: 5px;
}

.NewSubCard-container .NewSubCard-card:hover .NewSubCard-contentBx div{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.1s;
}
