.Footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 10px 0px; */
  padding: 50px 80px 10px 80px;
  /* margin: 0 80px; */
}

.Footer .contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Footer .contact .head {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  gap: 10px;
  align-items: center;
}

.Footer .content {
  font-size: 1.1rem;
  line-height: 170%;
}

.Footer .nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Footer .copyright {
  align-self: center;
  font-size: 1rem;
}

.Footer .social {
  display: flex;
}

@media only screen and (max-width: 640px) {
  .Footer {
    /* margin: 0 20px; */
    padding-left: 20px;
    padding-right: 20px;
  }
  .Footer .contact {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .Footer .content {
    font-size: 1rem;
  }
  .Footer .nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .Footer .copyright {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }
  .Footer .social {
    width: 100%;
    gap: 10px;
    display: flex;
    /* justify-content: end; */
  }
}

@media only screen and (min-width: 1048px) {
  .Footer {
    font-size: 20px;
    padding-left: 160px;
    padding-right: 160px;
  }
  .Footer .contact .content {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1800px) {
  .Footer .contact .content {
    font-size: 27px;
  }
  .Footer {
    font-size: 27px;
    padding-left: 250px;
    padding-right: 250px;
  }
}
